<div class="bordure-marron">
  <p>etude-pipes works!</p>

  <h1>Les Pipes</h1>

  <ul>
    <li>Les Pipes natives d'angular</li>
  </ul>

  <h3 style="margin-top: 40px">- Le Pipe CURRENCY</h3>

  <p>
    <span ngNonBindable>{{ 1234.56 | currency : "USD" }}</span
    >-> {{ 1234.56 | currency : "USD" }}
  </p>

  <p>
    <span ngNonBindable>{{ 1234.56 | currency : "CAD" }}</span
    >-> {{ 1234.56 | currency : "CAD" }}
  </p>

  <p>
    <span ngNonBindable>{{ 1234.56 | currency : "EUR" }}</span
    >-> {{ 1234.56 | currency : "EUR" }}
  </p>

  <h3 style="margin-top: 40px">- Le Pipe DATEVAL</h3>

  <p>
    <span>{{ aDate | date : "shortTime" }}</span>
  </p>

  <p>
    <span>{{ aDate | date : "fullDate" }}</span>
  </p>

  <p>
    <span>{{ aDate | date : "d/M/y" }}</span>
  </p>

  <p>
    <span>{{ aDate | date }}</span>
  </p>

  <p>
    <span>{{ aDate | date : "dd/MM/yy, à HH:mm" }}</span>
  </p>

  <p>
    <span>{{ aDate | date : "longDate" }}</span>
  </p>

  <p>
    <span>{{ aDate | date : "à HH:mm, le d MMMM yyyy" }}</span>
  </p>

  <h3 style="margin-top: 40px">- Le Pipe DECIMALPIPE</h3>

  <p ngNonBindable>{{ 3.14159265 | number : "3.1-2" }}</p>
  <p>{{ 3.14159265 | number : "3.1-2" }}</p>

  <p ngNonBindable>{{ 3.14159265 | number : "1.4-6" }}</p>
  <p>{{ 3.14159265 | number : "1.4-6" }}</p>

  <h3 style="margin-top: 40px">- Le Pipe JSONPIPE</h3>

  <p ngNonBindable>{{ someJSobject }}</p>
  <p>{{ someObject }}</p>

  <p ngNonBindable>{{ someJSobject | json }}</p>
  <p>{{ someObject | json }}</p>

  <h3 style="margin-top: 40px">- Le Pipe TITLECASE</h3>

  <p ngNonBindable>{{ "UNE CHAINE quelconque MAL Formatée" | titlecase }}</p>
  <p>{{ "UNE CHAINE quelconque MAL Formatée" | titlecase }}</p>

  <h3 style="margin-top: 40px">- Le Pipe LOWERCASE</h3>

  <p ngNonBindable>{{ "UNE CHAINE en MAJUSCULE" | lowercase }}</p>
  <p>{{ "UNE CHAINE en MAJUSCULE" | lowercase }}</p>

  <h3 style="margin-top: 40px">- Le Pipe UPPERCASE</h3>

  <p ngNonBindable>{{ "une chaine en minuscule" | uppercase }}</p>
  <p>{{ "une chaine en minuscule" | uppercase }}</p>

  <h3 style="margin-top: 40px">- Le Pipe PERCENTPIPE</h3>

  <p ngNonBindable>{{ 0.123456 | percent }}</p>
  <p>{{ 0.123456 | percent }}</p>

  <p ngNonBindable>{{ 0.123456 | percent : "2.1-2" }}</p>
  <p>{{ 0.123456 | percent : "2.1-2" }}</p>

  <p ngNonBindable>{{ 42 | percent : "10.4-4" }}</p>
  <p>{{ 0.123456 | percent : "10.4-4" }}</p>

  <h3 style="margin-top: 40px">- Le Pipe SLICEPIPE</h3>

  <p ngNonBindable>{{ [1, 2, 3, 4, 5, 6] | slice : 1 : 3 }}</p>
  <p>{{ [1, 2, 3, 4, 5, 6] | slice : 1 : 3 }}</p>

  <p ngNonBindable>{{ [1, 2, 3, 4, 5, 6] | slice : 2 }}</p>
  <p>{{ [1, 2, 3, 4, 5, 6] | slice : 2 }}</p>

  <p ngNonBindable>{{ [1, 2, 3, 4, 5, 6] | slice : 2 : -1 }}</p>
  <p>{{ [1, 2, 3, 4, 5, 6] | slice : 2 : -1 }}</p>

  <pre ngNonBindable>
    &lt;ul&gt; 
      &lt;li *ngFor=&quot;let v of [1,2,3,4,5,6] | slice:2:-1&quot;&gt;
      {{ v }}
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>

  <ul>
    <li *ngFor="let v of [1, 2, 3, 4, 5, 6] | slice : 2 : -1">
      {{ v }}
    </li>
  </ul>

  <ul style="margin-top: 50px">
    <li>Les Pipes Custom</li>
  </ul>
  <h3 style="margin-top: 40px">- le pipe custom UCFIRSTPIPE</h3>

  <p ngNonBindable>{{ 'une chaine en minuscule' | ucfirst }}</p>
  <p>{{ 'une chaine en minuscule' | ucfirst }}</p>








</div>
