{% extends 'bases.html.twig' %}

{% block title %}Réinitialisez votre mot de passe : 🆕
{% endblock %}

{% block body %}

	<div class="container">
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1 class="text-center my-5">Réinitialisez votre mot de passe 🆕</h1>

		{{ form_start(requestForm) }}
		<div style="width: 40rem" class="m-auto">
			{{ form_row(requestForm.email) }}
		</div>
		<div>
			<small class="d-flex justify-content-center">
				Entrez votre email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
			</small>
		</div>

		<button class="btn btn-dark d-flex justify-content-center my-5">Envoyer</button>
		{{ form_end(requestForm) }}

	</div>
{% endblock %}
