{% extends 'bases.html.twig' %}

{% block body %}

	<div class="container">

		<h1>Réinitialisé votre mot de passe : 🆕</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-primary">Reset password</button>
		{{ form_end(resetForm) }}

        </div>

{% endblock %}
