{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">

		{% for notification in app.flashes('Success') %}
			<div class="alert alert-success col-md-6 mx-auto text-center disparition">
				{{ notification }}
			</div>
		{% endfor %}

		<div>
			<a class="btn btn-dark" href="{{ path('app_categorie') }}">Retour</a>
		</div>

		<div class="example-wrapper text-center mb-3">
			<h1>Hello
				{{ controller_name }}
				! 🫧</h1>
		</div>

		<div class="card" style="width: 18rem; height: 5rem">
			<div class="card-body text-center">
				Nom de la catégorie :
				{{categorie.nom}}
			</div>
		</div>
	</div>

{% endblock %}
