<nav
  class="navbar bg-dark border-bottom border-body navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      [ngClass]="{ active: pageName === 'Accueil' }"
      [routerLink]="['/']"
    >
      Accueil</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            href="#"
            [routerLink]="[
              '/premier-composant',
              '/liaison-unidirectionnelle',
              '/liaison-bidirectionnelle',
              '/liaison-parent-enfant',
              '/page-service',
              '/liste-employes',
              '/page-etude-pipes'
            ]"
            >Études</a
          >
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/premier-composant']"
                [ngClass]="{ active: pageName === 'premier-composant' }"
                >Mon premier composant</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/liaison-unidirectionnelle']"
                [ngClass]="{ active: pageName === 'liaison-unidirectionnelle' }"
                >Liaison unidirectionnelle</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/liaison-bidirectionnelle']"
                [ngClass]="{ active: pageName === 'liaison-bidirectionnelle' }"
                >Liaison bidirectionnelle</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/liaison-parent-enfant']"
                [ngClass]="{ active: pageName === 'liaison-parent-enfant' }"
                >Liaison parent-enfant</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/page-service']"
                [ngClass]="{ active: pageName === 'page-service' }"
                >Page service</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/liste-employes']"
                [ngClass]="{ active: pageName === 'liste-employes' }"
                >Liste employés</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="#"
                [routerLink]="['/page-etude-pipes']"
                [ngClass]="{ active: pageName === 'page-etude-pipes' }"
                >Études Pipes</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/contact']"
            [ngClass]="{ active: pageName === 'Contact' }"
            >Contact</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/about']"
            [ngClass]="{ active: pageName === 'About' }"
            >About</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
