<div class="bordure-cyan">
  <p>navigation works!</p>

  <div class="mb-5">
    <p>[routerLink]="['page-destination']"</p>
    <a href="#" class="btn btn-info" [routerLink]="['/page-destination']"
      >Vers 'Destination'</a
    >
  </div>

  <div class="mb-5">
    <p>[routerLink]="['destination/sublevel1']"</p>
    <a href="#" class="btn btn-info" [routerLink]="['destination/sublevel1']"
      >Vers 'Destination/sublevel1'</a
    >
  </div>

  <div class="mb-5">
    <p>[routerLink]="['destination/sublevel1/sublevel2']"</p>
    <a
      href="#"
      class="btn btn-info"
      [routerLink]="['destination/sublevel1/sublevel2']"
      >Vers 'Destination/sublevel1/sublevel2'</a
    >
  </div>

  <div class="mb-5">
    <p>[routerLink]="['destination/sublevel1/sublevel2-bis']"</p>
    <a
      href="#"
      class="btn btn-info"
      [routerLink]="['destination/sublevel1/sublevel2-bis']"
      >Vers 'Destination/sublevel1/sublevel2-bis'</a
    >
  </div>

  <div class="mb-5">
    <p>[routerLink]="['destination/sublevel1/sublevel2/sublevel3']"</p>
    <a
      href="#"
      class="btn btn-info"
      [routerLink]="['destination/sublevel1/sublevel2/sublevel3']"
      >Vers 'Destination/sublevel1/sublevel2/sublevel3'</a
    >
  </div>

  <div class="mb-5">
    <p>[routerLink]="['destination/sublevel1/sublevel2/sublevel3-bis']"</p>
    <a
      href="#"
      class="btn btn-info"
      [routerLink]="['destination/sublevel1/sublevel2/sublevel3-bis']"
      >Vers 'Destination/sublevel1/sublevel2/sublevel3-bis'</a
    >
  </div>
</div>
