<h1>Bonjour Accueil</h1>

<p>{{ date |  date:'fullDate' }}</p>
<p>{{ "Bravo, voici UcFirstPipe" |  ucfirst }}</p>

<h4>Listes des routes disponibles : </h4>
<ul>
    <li><a href="">Accueil</a></li>
    <li><a href="liaison-unidirectionnelle">Liaison unidirectionnelle</a></li>
    <li><a href="liaison-bidirectionnelle">Liaison bidirectionnelle</a></li>
    <li><a href="liaison-parent-enfant">Liaison parent-enfant</a></li>
    <li><a href="premier-composant">Premier composant</a></li>
    <li><a href="page-service">Page service</a></li>
    <li><a href="liste-employes">Liste employes</a></li>
    <li><a href="page-etude-pipes">Page étude pipes</a></li>
    <li><a href="***">Not found</a></li>
</ul>
