
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  font-family: 'Montserrat', sans-serif;
}

footer {
  font-family: 'Montserrat', sans-serif;
}

/* input form */

.inputForm, input{

    width: 20rem;
    margin: auto;
    
  }
  
  #btnContact{
  
    margin: auto;
    width: 13rem;
    display: flex;
  }
  
  button{
  
    width: 10rem;
    margin: auto;
  }


.card{

  /* border: none; */
  margin: auto;
  height: 18rem;
  margin-bottom: 3rem;
}

audio::-webkit-media-controls-download-button {
  display: none;
}

audio::-webkit-media-controls-enclosure {
  overflow:hidden;
}

.lienLog{
  text-decoration: none;

}



/* ********************************************************************************** */

/** NAVBAR **/
/* 
.navjxad{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

.marge{

  margin-top: 2rem;
}

li{

  list-style-type: none;
}

.pp{

  border-radius: 50%;
}




/* ********************************************************************************** */


/* BUTTON */

.btnSuccess{

  width: 8rem;
  margin: auto;
}

/* ********************************************************************************** */

/* CATEGORIE */

.menuC{

  text-decoration: none;

}


/* ********************************************************************************** */

/* ARTISTES */

.artiste{

  background-color: #cff4fc63;
  height: 18rem;
  border-radius: 2rem;
}

.imgArt{

  border-radius: 5rem;
}

/* paroles */

.parole{

  background-color: #cff4fc63;
  border-radius: 2rem;
}



/* ********************************************************************************** */

/***FOOTER*****/
footer {
  background-color: #cff4fc;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: center;
}

footer a{

  text-decoration: none;
}

footer h3, footer p, footer a {
  color: black;
  font-size: 1rem;
  margin: 0.5rem;
}

footer img {
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  footer {
    justify-content: space-between;
  }

  footer h3, footer p, footer a {
    font-size: 1.2rem;
  }

  footer img {
    height: 2.5rem;
  }
}



